.element__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 21px 20px 31px 22px;
  align-items: baseline;
}
@media (max-width: 880px) {
  .element__caption {
    margin-top: 23px;
  }
}
