.add-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 34px 36px 37px;
  position: relative;
}
@media (max-width: 879px) {
  .add-card {
    padding: 25px 22px;
  }
}
